@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

.slick-dots li {
  width: 16px !important;
  height: 16px !important;
  background-color:#00f5d4;
  border-radius: 50%;
}

.slick-dots li button {
  border-radius: 50%;
  width: 16px !important;
  height: 16px !important;
  position: relative;
  left: -2px;
  top: -2px;
}

.slick-slide >div{
  margin: 0 6px;
}

/* .scrollbar::-webkit-scrollbar-thumb {
    background-color: #a0a0a0; 
    border-radius: 6px;
  } */